/* Déclaration des variables de couleur pour changer le theme facilement */
:root {
    --main : #000c24;
    --seconde : #007FA9;
    --gray : #a4b8d5;
    --blue : #82CFD8;
    --white : #ffffff;
    --green : #34ffc2;
}


body {
    background-color: var(--main);
}


html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  overflow-x : hidden
}



/*________________________________________________HEADER_________________________________________________*/


.header {
    display: flex;
    width: 85%;
    justify-content: end;
    align-items: center;
    position: absolute;
}

.container_header {
    margin-top: 5px;
    margin-right: 23%;
    display: flex;
    align-items: center;
}

.lang {
    color: var(--white);
    font-size: 1.3em;
    margin: 10px;
}

.fa-solid, .fas {
  font-weight: 900;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Button Switch FR/EN */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(15px);
    
  }
  
  .slider.round {
    border-radius: 34px;
    border: 1px solid var(--gray);
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.style{
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  background-clip: text;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}















/*________________________________First Section____________________________________*/

.first_section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    background-image: url(svg/background.png);

}

.container_all {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.container_titre {
  width: 100%;
}


.container_h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white);
    align-items: start;
    justify-content: start;
    padding-left: 5%;
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
    
}


h1{
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: 8em;
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  background-clip: text;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.titre_nom{
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: 8em;
  padding-left: 20px;

}

.infos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 2em;
  color: rgb(187, 184, 184);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.social {
  margin: 10px;
  opacity: 0;
  transform: translateY(-100px);
}


.fa-brands {
  padding-left: 5px;
}


.info {
  margin: 10px;
  transition-delay: 0;
  transition: 0s;
  
}

/*
.info:hover{
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  background-clip: text;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*/

.fa-brands:hover {
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  background-clip: text;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.blanc {
  width: 50%;
  height: 80%;
  align-self: center;
}






/* animation de reveal en js */


.titre_reveal {
  opacity: 0;
  transform: translateX(-100%);
}

.titre_reveal_visible {
  opacity: 1;
  transform: translateX(0);
  transition: 0.7s ;
}


.switch_reveal {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
  transition-delay: 1s;
}

.switch_noreveal{
  opacity: 0;
  transform: translateY(-100%);
}


.social_reveal{
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.dev_reveal {
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-delay: 0.8s;
}

.ent_reveal {
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-delay: 0.7s;
}

.com_reveal {
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-delay: 0.6s;
}


.ent {
  opacity: 0;
  transform: translateY(-100px);
}

.dev {
  opacity: 0;
  transform: translateY(-100px);
}


.com {
  opacity: 0;
  transform: translateY(-100px);
}























/* First animation */


.full {
  transform: translateX(200%);
  transition: all 2s;
}


.n {
  display: none;
}




/*****************************INTRO*********************************************/

.container_intro {
  height: 100%;
  width: 100%;
  display: none;
  transform: translateX(-100%);
  flex-direction: column;
}

.cont_intro {
  display: flex;
  width: 100%;
  height: 100%;
}

.container_content_intro {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 70%;
  width:  60%;
  align-items: flex-start;
  margin-left: 100px;
}

.titre_intro {
  color: var(--white);
  font-size: 7em;
  margin-top: 80px;
}

.intro {
  margin-top: 50px;
  color: var(--white);
  font-size: 2em;
  line-height: 50px;
  text-indent:100px;
}

.moov {
  transform: translateX(0);
  transition-delay: 1s;
  transition: all 1s;
}

.flex {
  display: flex;
}

.moi {
  border-radius: 20px;
}

.container_image_intro {
  width: auto;
  height: 70%;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.container_arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  font-size: 2em;
  color: var(--gray);
  cursor: pointer;
  text-decoration: none;
}